ul.new-project__buttons {
    list-style-type: none;
    margin: 0px;
    /* padding at bottom to avoid shadow clipping */
    padding: 0em 0em 0.2em 0em;
    overflow: hidden;
    li {
        float: left;
        padding-right: 0.4em;
    }
}

#new-project-dialog-form label {
    display: block;
    padding-top: 1.2em;
}
